<div class="jumbotron ">
  
  <h1 class="logo-header">RinkTrade</h1> 
  <p class="slogan">The easiest way to trade icetime</p> 

<%= link_to 'Get Started', new_user_registration_path , class: "btn btn-primary btn-lg"  %>
 

 </div>
